.login-main {
    .justify-content-md-center {
        align-items:  center;
        height: 75vh;
      }
padding:  20px;  
  
    .bg-color {
        background-color: #191C24;
        padding: 15px;
        border-radius: 10px;
        padding-bottom: 35px;
    }
    .content-center {
        align-content: center;
        vertical-align: middle;
    } 
    .align-items-center {
        padding-top: 20px;
    }
    .form-group{
        padding-top: 10px;
    }
    .btn-block {
        width: 100%;
        margin-top: 15px;
        margin-bottom: 15px;
    }
    .sign-up {
        float: left;
        color: #3907ef;
        padding-bottom: 20px;
        cursor: pointer;
    }
    .forgot-password {
        float: right;
        color: #3907ef;
        padding-bottom: 20px;
        cursor: pointer;
    }
}